* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
    box-sizing: border-box;
    --color: #323d64;
}

body {
    background-image: url("../imagem/bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    background-color: #fefaeb;
    color: var(--color);
    border: 2px solid var(--color);
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.4s;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color);
    color: #fff;
    transform: scale(1.1);
}

button:hover > i {
    color: #fff;
}

button i {
    color: var(--color);
    font-weight: bold;
    pointer-events: none;
}

input,
select, textarea {
    padding: 0.25rem 0.5rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

.hide {
    display: none;
}

/*todo-header*/
.todo-container {
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #fefaeb;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

/*todo-form*/
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*todo toolbar*/
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    padding-right: 1rem;
    margin-right: 1rem;
    width: 78%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;

}

#filter select {
    display: flex;
    flex: 1;
    width: 50%;
    margin: 2px;
}

#separator {
    display: flex;
    flex-direction: row;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {

    background-color: #545892 !important;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

.low {

    background-color: #7cff73;
}

.medium {
    background-color: #e1ff73;
}

.high {
    background-color: #ff0f0f;

}
.high h3,p{
    color: #fff;
}

.todo p {
    margin-left: 10px;
    font-size: 10px;
}
